.signinContainer {
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  max-width: 400px;
  margin: 0 auto;
}

.signinContainer h2 {
  font-size: 22px;
  color: #1a1a2e;
  margin-bottom: 25px;
}

.signinContainer input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
}

.signinContainer button {
  width: 100%;
  padding: 12px;
  background: #090909;
  color: white;
  border: none;
  border-radius: 1000px;
  font-size: 16px;
  cursor: pointer;
}

.signinContainer button:hover {
  background: #311361;
}

.error {
  color: #e63946;
  margin-top: 10px;
  font-size: 14px;
}

.authRedirect {
  text-align: left;
  font-size: 0.9rem;
  color: #666;
  padding: 6px;

}

.authRedirect a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.25rem;
  margin-right: 85px;
}

.authRedirect a:hover {
  text-decoration: underline;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
}

.passwordWrapper button.togglePassword {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  height: 20px;
  transform: translateY(-6px);
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  line-height: 0;
}

.passwordWrapper button.togglePassword:hover {
  background: none;
  color: #7c3aed;
}